
<div class="main">
  <div class="main-top">
    <div class="search">

      <%= form_tag({controller:"spots",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= button_tag :type => "submit", :class =>"search-btn" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <div class="tag-search">
      <%= form_tag spots_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id,
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                      {
                        prompt: 'セクション',
                        onchange: 'submit(this.form);'
                      }
                      
        %>
      <% end %>
    </div>
    <div class="new">
        <% if user_signed_in? %>
          <%= link_to new_spot_path do %>
            <i class="gg-add-r"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="gg-add-r"></i>
          <% end %>
        <% end %>
    </div>
  </div>
      <div class="spots-container">
        <% @spots.each do |t| %>
          <div class="spots-item">
            <div class="spot-box">
                <div class="spot-image-container">
                  <div class="spot-image">
                    <a href="/spots/<%= t.id %>">
                      <% if t.image.present? %>
                        <%= image_tag t.image_url, size: "90%x300" %>
                      <% else %>
                        <%= image_tag 'Photo.jpg', size: "90%x250" %>
                      <% end %>
                    </a>
                  </div>
                </div>
              <div class="spot-details">
                <div class="spot-text">
                  <div class="spot-text-top">
                    <div class="user-container">
                      <div class="userimage">
                        <% if t.user.profile_image.present? %>
                          <a href="/users/<%= t.user.id %>"><%= image_tag t.user.profile_image_url, size: "30x30" %></a>
                        <% else %>
                          <a href="/users/<%= t.user.id %>"><%= image_tag 'usericon.jpg' , size: "30x30" %></a>
                        <% end %>
                      </div>
                      <div class="username">
                        <a href="/users/<%= t.user.id %>"><%= t.user.username %></a>
                      </div>
                    </div>
                    
                    <div class="spot-like">
                        <% if user_signed_in? %>
                          <% if current_user.already_liked?(t) %>
                            <%= link_to spot_like_path(id: t.id, spot_id: t.id), method: :delete do %>
                              <i class="fas fa-heart"></i><%= t.likes.count %>
                            <% end %>
                          <% else %>
                            <%= link_to spot_likes_path(id: t.id, spot_id: t.id), method: :post do %>
                              <i class="far fa-heart"></i><%= t.likes.count %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= link_to new_user_session_path do %>
                            <%= link_to new_user_session_path do %>
                              <i class="far fa-heart"></i><%= t.likes.count %>
                            <% end %>
                          <% end %>
                        <% end %>
                    </div>
                  </div>  
                  <div class="spot-text-list">
                    <div class="text-title">
                      <a href="/spots/<%= t.id %>"><%= t.title %></a>
                    </div>
                    <div class="text-content">
                      <a href="/spots/<%= t.id %>"><%= t.text %></a>
                    </div>
                  </div>  
                </div>
                
              </div>
            </div>
          </div>
          <!-- <%= link_to "削除する", spot_path(t.id), method: :delete %> -->
          
        <% end %>      
      </div>
    

</div>
