
<%= form_tag spots_path, method: :get, class: 'boards__searchForm' do %>
<%= select_tag :tag_id,
                options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                {
                  prompt: 'タグで絞り込み検索',
                  onchange: 'submit(this.form);'
                }
%>
<% end %>

  <% if user_signed_in? %>
    <%= link_to "投稿", new_spot_path %>
  <% else %>
    <%= link_to "投稿", new_user_session_path %>
  <% end %>

<div class="spots-container">
  <% @spots.each do |t| %>
    <div class="spot">
    <a href="/users/<%= t.user.id %>"><%= image_tag t.user.profile_image_url, size: "30x30" if t.user.profile_image? %></a></td>
    <a href="/users/<%= t.user.id %>"><%= t.user.username %></a>
    <a href="/spots/<%= t.id %>"><%= t.text %></a>
    <a href="/spots/<%= t.id %>"><%= image_tag t.image_url, size: "250x200" if t.image? %></a>

    <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
        <%= link_to spot_like_path(id: t.id, spot_id: t.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% else %>
        <%= link_to spot_likes_path(id: t.id, spot_id: t.id), method: :post do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= link_to new_user_session_path do %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% end %>
    <% end %>

    </div>
  <% end %>      
</div>


