<div class="spots-container">
  <%= link_to "戻る", spots_path %>
    <div class="spot">
        <a href="/users/<%= @spot.user.id %>"><%= image_tag @spot.user.profile_image_url, size: "30x30" if @spot.user.profile_image? %></a></td>
        <a href="/users/<%= @spot.user.id %>"><%= @spot.user.username %></a>
        <%= image_tag @spot.image_url, size: "250x200" if @spot.image? %>
        <%= @spot.text %>

        <% @spot.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>

        <%= link_to "編集する", edit_spot_path %>
      
        <% if user_signed_in? %>
          <% if current_user.already_liked?(@spot) %>
            <%= link_to spot_like_path(@spot), method: :delete do %>
            <i class="fas fa-heart"></i><%= @spot.likes.count %>
            <% end %>
          <% else %>
            <%= link_to spot_likes_path(@spot), method: :post do %>
              <i class="fas fa-heart"></i><%= @spot.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <i class="fas fa-heart"></i><%= @spot.likes.count %>
        <% end %>


      </div>

    <div class="comment-wrapper">
      <p>コメント一覧</p>
      <% @comments.each do |c| %>
        <div>
          <a href="/users/<%= @spot.user.id %>"><%= image_tag c.user.profile_image_url, size: "30x30" if c.user.profile_image? %></a>
          <a href="/users/<%= @spot.user.id %>"><%= c.user.username unless c.user.blank? %></a>
          <br>
          <p>評価 :<%= c.rate %>点</p>
          <div id="star-rate-<%= c.id %>"></div>    
          <script>
            $('#star-rate<%= c.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= c.rate %>,
            });
          </script>
          <%= c.content %>
          <br>
          <% if user_signed_in? && current_user.id == c.user_id %>  
            <%= link_to '削除', spot_comment_path(@spot, c), method: :delete %>
          <% end %>
        </div>
          <br>
      <% end %>
    
      <% if user_signed_in? %>
        <%= form_with(model: [@spot, @comment], local: true) do |f| %>
          
          <div class="form-group row" id="rate">
            <%= f.label :rate,'評価 ' %>
            <%= f.hidden_field :rate, id: :review_star %>
          </div>
        
          <script>
          $('#rate').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',

            scoreName: 'comment[rate]',
            half: false,
          });
          </script>  
          
          <%= f.text_area :content %>

          <%= button_tag type: "submit" do %>
            <i class="far fa-comments"></i> 送信 
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>