<div class="form-container">

    <%= form_with(model: note, local: true) do |form| %>
      <% if note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

          <ul>
            <% note.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="title-field-container">
      <div class="form-title">
        <%= form.label :title %>
      </div>
      <div class="title-field">
        <%= form.text_field :title %>
      </div>
    </div>
    <div class="form-content">
      <%= form.label :content %>
    </div>
      <div class="content-field">
        <%= form.rich_text_area :content %>
      </div>


      <div class="actions">
        <%= form.submit "　　　投稿　　　" %>
      </div>
    <% end %>


</div>