<p id="notice"><%= notice %></p>
<h3>投稿を検索</h3>
  <%= form_tag({controller:"notes",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する'  %>
    <% end %>

<h1>Notes</h1>

<div class="notes-container">
  <% @notes.each do |note| %>
    <div class="note">
      <a href="/users/<%= note.user.id %>"><%= image_tag note.user.profile_image_url, size: "30x30" if note.user.profile_image? %></a>
      <a href="/users/<%= note.user.id %>"><%= note.user.username %></a>
      <h3><a href="/notes/<%= note.id %>"><%= note.title %></a></h3>
      
      <i class="far fa-save"></i><%= note.archives.count %>
    </div>
  <% end %>
</div>


<%= link_to 'New Note', new_note_path %>
