<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<div class="notes-container">
  <% @notes.each do |note| %>
    <div class="note">
      <a href="/users/<%= note.user.id %>"><%= note.user.username %></a>
      <h3><%= note.title %></h3>
      <%= link_to 'Show', note %>
      <i class="far fa-save"></i><%= note.archives.count %>
    </div>
  <% end %>
</div>


<%= link_to 'New Note', new_note_path %>
