<% if user_signed_in? && current_user.id == @note.user_id %>  
  <%= link_to 'Edit', edit_note_path %> 
  <%= link_to "削除する", note_path(@note.id), method: :delete %>
<% end %>
<br>
<%= link_to 'Back', notes_path %>
<br>
  <a href="/users/<%= @note.user.id %>"><%= image_tag @note.user.profile_image_url, size: "30x30" if @note.user.profile_image? %></a>
  <a href="/users/<%= @note.user.id %>"><%= @note.user.username %></a>
<br>
<p id="notice"><%= notice %></p>
<br>
<% if user_signed_in? %>
  <% if current_user.already_archived?(@note) %>
    <%= link_to note_archive_path(@note), method: :delete do %>
      <i class="fas fa-save"></i><%= @note.archives.count %>
    <% end %>
  <% else %>
    <%= link_to note_archives_path(@note), method: :post do %>
      <i class="far fa-save"></i><%= @note.archives.count %>
    <% end %>
  <% end %>
<% else %>
  <i class="far fa-save"></i><%= @note.archives.count %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>


