<div class="sign-form-container">
  <div class="user-field-container">    
  <h2>ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-user">
      <%= f.label :username %>
    </div>
    <div class="user-field">
      <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
    </div>

    <div class="form-user">
      <%= f.label :password %>
    </div>
    <div class="user-field">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-user">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="sessions-actions">
      <div class="form-submit">
        <%= f.submit "　　　ログイン　　　" %>
      </div>
      <div class="form-login">
        <%= render "users/shared/links" %>
      </div>
    </div>
  <% end %>

  </div>
</div>