
<div class="userpage">
  <div class="usertop-container">
    <div class="userpage-continer">
      <div class="userpage-left">
        <div class="profileimage">
          <%= image_tag @user.profile_image_url, size: "90x90" if @user.profile_image? %>
        </div>
        <div class="information">
          <h1><%= @user.nickname %></h1>
          <p><%= @user.username %></p>
          <p><%= @user.profile %></p>
        </div>
      </div>
      <div class="userpage-right">
        <div class="edit-follow">
          <% if user_signed_in? %>
            <div class="edit">
              <% if current_user.id == @user.id %>
                <%= link_to "編集", edit_user_registration_path %>
              <% end %>
            </div>
            <div class="follow">
              <%= render 'relationships/follow_button', user: @user %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="select-list">
      <ul>
        <li class="s-video"><%= link_to 'Video', userhowto_user_path %></li>   
        <li class="s-spot"><%= link_to 'Spot', :controller => "users", :action => "show" %></li>
        <li class="s-note"><%= link_to 'note', usernote_user_path %></li>      
      </ul>
  </div>

  <div class="s-post-container"></div>
    <% @user.spots.each do |t| %>
      
        <div class="s-post-item">
          <div class="s-text">
            <div class="s-text-list">
              <ul>
                <li class="text"><%= t.title %></li>
                <li><i class="far fa-heart"></i><%= t.likes.count %></li>
                <li class="tag">
                  <% t.tags.each do |tag| %>
                    <div class="mypage-tag-name">
                      <%= tag.name %>
                    </div>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <div class="s-image-container">
            <div class="s-image">
              <a href="/spots/<%= t.id %>"><%= image_tag t.image_url, size: "300x220" if t.image? %></a>
            </div>
          </div>
        </div>
      
    <% end %>
  </div>  
  




      
    


</div>