

<%= image_tag @user.profile_image_url, size: "90x90" if @user.profile_image? %>
<h1><%= @user.nickname %></h1>
<p><%= @user.username %></p>
<p><%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<%= render 'relationships/follow_button', user: @user %>

<h3>Spot</h3>
<% @user.spots.each do |t| %>
  <a href="/spots/<%= t.id %>"><%= t.text %></a>
  <a href="/spots/<%= t.id %>"><%= image_tag t.image_url, size: "250x200" if t.image? %></a>
<% end %>

<h3>Video</h3>
<% @user.how_tos.each do |t| %>
  <a href="/how_tos/<%= t.id %>"><%= t.title %></a>
  <a href="/how_tos/<%= t.id %>"><%= video_tag t.video_url ,:controls => true ,:loop => true if t.video?%></a>
  <a href="/how_tos/<%= t.id %>"><%= image_tag t.image_url, size: "250x200" if t.image? %></a>
<% end %>

<h3>Note</h3>
<% @user.notes.each do |t| %>
  <a href="/notes/<%= t.id %>"><%= t.title %></a>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% end %>