
<main>
  <div class="userpage">
    <div class="search">
      <h1>User search</h1>
        <%= form_tag({controller:"users",action:"search"}, method: :get) do %>
          <%= text_field_tag :search %>
          <%= button_tag :type => "submit", :class =>"search-btn" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
    </div>
    <div class="usertop-container">
      <div class="userpage-continer">
        <div class="userpage-left">
          <div class="profileimage">
            <% if @user.profile_image.present? %>
              <%= image_tag @user.profile_image_url, size: "90x90" %>
            <% else %>
              <%= image_tag 'usericon.jpg' , size: "90x90" %>
            <% end %>
          </div>
          <div class="information">
            <div class="user-nickname"><%= @user.nickname %></div>
            <div class="user-username"><%= @user.username %></div>
            <div class="user-profile"><%= @user.profile %></div>
          </div>
        </div>
        <div class="userpage-right">
          <div class="edit-follow">
            <% if user_signed_in? %>
              <div class="edit">
                <% if current_user.id == @user.id %>
                  <%= link_to "編集", edit_user_path %>
                <% end %>
              </div>
            <% end %>
            <div class="follow-button">
              <%= render 'follow_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="userpage-bottom">
      <div class = "sns-link">
        <ul class="profile-links">
        
          <% if @user.twitter.present? %>
            <li class="profile-link">
              <%= link_to @user.twitter, target: :_blank do %>
                <i class="fab fa-twitter-square"></i>
              <% end %>
            </li>
          <% end %>
        
          <% if @user.facebook.present? %>
            <li class="profile-link">
              <%= link_to @user.facebook, target: :_blank do %>
                <i class="fab fa-facebook-square"></i>
              <% end %>
            </li>
          <% end %>
        
          <% if @user.instagram.present? %>
            <li class="profile-link">
              <%= link_to @user.instagram, target: :_blank do %>
                <i class="fab fa-instagram"></i>
              <% end %>
            </li>
          <% end %>
          </ul>
      </div>

      <div class="follow">
        
        <div class="follow-status">
          <%= render 'stats' %>
        </div>
      </div>
    </div>

    <div class="select-list">
      <ul>
        <li class="v-video"><%= link_to 'Video', userhowto_user_path %></li>   
        <li class="v-spot"><%= link_to 'Spot', :controller => "users", :action => "show" %></li>
        <li class="v-note"><%= link_to 'note', usernote_user_path %></li>      
      </ul>
    </div>
    
    <div class="v-content-container">
      <% @user.how_tos.each do |t| %>
      <div class="v-contents">
        <div class="v-content-video">
          <a href="/how_tos/<%= t.id %>"><%= video_tag t.video_url, size: "370x210" ,:controls => true ,:loop => true, muted: true if t.video?%></a>
        </div>
        <div class="v-content-text">
          <a href="/how_tos/<%= t.id %>"><%= t.title %></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</main>