<p id="notice"><%= notice %></p>

<div class="v-main">
  <div class="main-top">
    <div class="search">
      <%= form_tag({controller:"how_tos",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= button_tag :type => "submit", :class =>"search-btn" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <div class="new">
      <% if user_signed_in? %>
        <%= link_to new_how_to_path do %>
          <i class="gg-add-r"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="gg-add-r"></i>
        <% end %>
      <% end %>
    </div>
  </div>
      <div class="video-container">
        <% @how_tos.each do |how_to| %>
          <div class="video-contents">
            <div class="contents-user">
              <div class="v-userimage">
                  <% if how_to.user.profile_image.present? %>
                    <a href="/users/<%= how_to.user.id %>"><%= image_tag how_to.user.profile_image_url, size: "30x30" %></a>
                  <% else %>
                    <a href="/users/<%= how_to.user.id %>"><%= image_tag 'usericon.jpg' , size: "30x30" %></a>
                  <% end %>
              </div>
              <div class="v-username"><a href="/users/<%= how_to.user.id %>"><%= how_to.user.username %></a></div>
            </div>
            <div class="contents-video">
              <a href="/how_tos/<%= how_to.id %>"><%= video_tag how_to.video_url, size: "600x337" ,:controls => true ,:loop => true, autoplay: true , muted: true if how_to.video?%></a>
            </div>
            <div class="contents-text">
              <div class="v-contents-text">
                <div class="v-text-title">
                  <a href="/how_tos/<%= how_to.id %>"><%= how_to.title %></a>
                </div>
                <div class="v-text-contents">
                  <a href="/how_tos/<%= how_to.id %>"><%= how_to.content %></a>
                </div>
              </div>
                <div class="text-fight">
                  <% if user_signed_in? %>
                    <% if current_user.already_fought?(how_to) %>
                      <%= link_to how_to_fight_path(id: how_to.id, how_to_id: how_to.id), method: :delete do %>
                        <i class="fas fa-thumbs-up"></i><%= how_to.fights.count %>
                      <% end %>
                    <% else %>
                      <%= link_to how_to_fights_path(id: how_to.id, how_to_id: how_to.id), method: :post do %>
                        <i class="far fa-thumbs-up"></i><%= how_to.fights.count %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <i class="far fa-thumbs-up"></i><%= how_to.fights.count %>
                  <% end %>
                </div>
              
            </div>
          </div>
        <% end %>
      </div>
    <%= paginate @how_tos %>
</div>