<p id="notice"><%= notice %></p>
<%= link_to 'Back', how_tos_path %>
<p>
  <strong>User:</strong>
  <a href="/users/<%= @how_to.user.id %>"><%= @how_to.user.username %></a>
</p>

<p>
  <strong>Title:</strong>
  <%= @how_to.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @how_to.content %>
</p>

<p>
  <strong>Video:</strong>
  <%= video_tag @how_to.video_url ,:controls => true ,:loop => true ,:autoplay => true if @how_to.video?%>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @how_to.image_url, size: "250x200" if @how_to.image? %>
</p>

<% if user_signed_in? && current_user.id == @how_to.user_id %>  
  <%= link_to 'Edit', edit_how_to_path(@how_to) %> 
  <%= link_to "削除する", how_to_path, method: :delete %>
<% end %>

<% if user_signed_in? %>
    <% if current_user.already_fought?(@how_to) %>
        <%= link_to how_to_fight_path(@how_to), method: :delete do %>
          <i class="fas fa-fire-alt"></i><%= @how_to.fights.count %>
        <% end %>
    <% else %>
        <%= link_to how_to_fights_path(@how_to), method: :post do %>
            <i class="far fa-fire-alt"></i><%= @how_to.fights.count %>
        <% end %>
    <% end %>
<% else %>
    <i class="far fa-fire-alt"></i><%= @how_to.fights.count %>
<% end %>

</div>

<h2>いいねしたユーザー</h2>
<% @how_to.fought_users.each do |user| %>
  <li><%= user.username %></li>
<% end %>

<div class="advice-wrapper">
  <p>コメント一覧</p>
  <% @advices.each do |c| %>
    <div>
      <a href="/users/<%= @how_to.user.id %>"><%= c.user.username unless c.user.blank? %></a>
      <br>
      <%= c.content %>
      <br>
      <%= link_to '削除', how_to_advice_path(@how_to, c), method: :delete %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@how_to, @advice], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-advices"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>


