<div class="sign-form-container">
  <div class="user-field-container">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="form-user">
        <%= f.label :email %>
      </div>
      <div class="user-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワードの再設定" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>