<div class="sign-form-container">
    <div class="user-field-container">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>


      <div class="form-user">
        <%= f.label :username %>
      </div>
      <div class="user-field">
        <%= f.text_field :username, autocomplete: "username" %>
      </div>
    </div>

    <div class="user-field-container">
      <div class="form-user">
        <%= f.label :email %>
      </div>
      <div class="user-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>


    <div class="user-field-container">
      <div class="form-user">
        <%= f.label :password %>
      </div>
      <div class="user-field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="user-field-container">
      <div class="form-user">
        <%= f.label :password_confirmation %>
      </div>
      <div class="user-field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>


      <div class="actions">
        <div class="form-submit">
          <%= f.submit "　　　新規登録　　　" %>
        </div>
        <div class="form-login">
          <%= render "users/shared/links" %>
        </div>
      </div>
    <% end %>

    


</div>